@use  '../custom'  as *;
@use '../component/mixin' as *;
@use '../component/animation';

.intro-section {
    @include bg-linear-gridient();
    padding: 8rem 0 0 0;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
}

.intros {
    .video-box {
        position: relative;
        a{
            // @include absCenter();
            span {
               
                i{
                    font-size: 5.8rem;
                    color: $secondary;
                }
            }
        }
    }
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid white;
    border-radius: 50%;
    animation: pulse-border 2s linear  infinite;
}

.pulse-1{
    animation-delay: 0.1s;
}
.pulse-2{
    animation-delay: 0.6s;
}