@use '../custom' as *;
@use './mixin' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    
    font-family: 'Poppins', sans-serif;
    &--intro{
        font-weight: 700;
        display: inline-block;
        // font-family: 'Poppins', sans-serif;
    }

    &--desc{
        margin-top: 1rem;
        font-size: 0.95rem;
        display: block;
        text-transform: none;
    }
}

// company heading line

.headling-line::before{
    content: "";
    width: 13rem;
    height: 0.2rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
}
.headling-line::after{
    content: "";
    width: 5rem;
    height: 0.2rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
    padding-top: 0.4rem;
    

}

.display-3{
    font-family: 'Poppins', sans-serif;
    &--title{
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Poppins',sans-serif;
        background-image: linear-gradient(to right,$primary,$secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }
    }
   
}

.border-right{
    border-right: 0.1rem solid $primary;
    height: 100%;
}